<header>
	<p>ParsQuake</p>
	<h1>Earthquake Education in the Global Persian Community</h1>
	<nav>
		<ul>
			<li {{#if (eq pageId 'index')}}class="selected"{{/if}}><a href="/index.html">Home</a></li>
			<li {{#if (eq pageId 'about')}}class="selected"{{/if}}><a href="/about.html">About</a></li>
			<li {{#if (eq pageId 'resources')}}class="selected"{{/if}}><a href="/resources.html">Resources</a></li>
			<li {{#if (eq pageId 'gallery')}}class="selected"{{/if}}><a href="/gallery.html">Gallery</a></li>
			<li {{#if (eq pageId 'news')}}class="selected"{{/if}}><a href="/news.html">News</a></li>
			<li {{#if (eq pageId 'help')}}class="selected"{{/if}}><a href="/help.html">Help Us</a></li>
			<li {{#if (eq pageId 'links')}}class="selected"{{/if}}><a href="/links.html">Links</a></li>
		</ul>
	</nav>
</header>
