$yellow: #E5B756;

@font-face {
    font-family: 'trashhandregular';
    src: url('../fonts/TrashHand-webfont.eot');
    src: url('../fonts/TrashHand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TrashHand-webfont.woff') format('woff'),
         url('../fonts/TrashHand-webfont.ttf') format('truetype'),
         url('../fonts/TrashHand-webfont.svg#trashhandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quikhand';
    src: url('../fonts/Quikhand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
