<section class="clearfix">
	<div class="left">
		<h2>Discovering Plate Boundaries</h2>
		<p>Plate boundaries are where most earthquakes occur, most volcanoes are found, and most of the people on Earth live. This lesson is based on observing, describing, and classifying scientific data displayed on four maps (earthquake location map, volcanic and thermal activity location map, oceanic crust geochronology map, and topography and bathymetry map of the Earth). In this lesson, students learn where the Earth's tectonic plates and their boundaries are, what happens at plate boundaries, and how scientists classify plate boundaries.</p>
		<p><a href="assets/pdf/en/lesson_2/lesson_2.pdf">View Lesson</a> (
			<a href="assets/pdf/farsi/lesson_2.pdf">Farsi</a>,
			<a href="assets/pdf/russian/lesson_2.pdf">Russian</a>,
			<a href="assets/pdf/tajik/lesson_2.pdf">Tajik</a>)</p>
	</div>
	<div class="right">
		<div class="ytplayer" data-video-id="x7ODtuNOf-k">
			<div class="ytplayer-wrapper">
				<div class="ytplayer-video"></div>
			</div>
		</div>
	</div>
</section>
