<section class="clearfix">
	<div class="left">
		<h2>Earthquake Machine</h2>
		<p>Earthquakes are associated with displacements on faults. Faults lock and a displacement occurs when the stress across the fault builds up to a sufficient level to cause rupture of the fault. This is known as stick-slip motion or behavior. In this lesson, students observe and understand how stick-slip motion occurs along faults by building a simple model of a fault system.</p>
		<p><a href="assets/pdf/en/lesson_5.pdf">View Lesson</a> (
			<a href="assets/pdf/farsi/lesson_5.pdf">Farsi</a>,
			<a href="assets/pdf/russian/lesson_5.pdf">Russian</a>,
			<a href="assets/pdf/tajik/lesson_5.pdf">Tajik</a>)</p>
	</div>
	<div class="right">
		<div class="ytplayer" data-video-id="CkD3n3S1-A0">
			<div class="ytplayer-wrapper">
				<div class="ytplayer-video"></div>
			</div>
		</div>
	</div>
</section>
