<section class="clearfix">
	<div class="left">
		<h2>Structural Hazards</h2>
		<p>When earthquake waves pass, buildings sway, twist back and forth, or lurch up and down, depending on the type of wave motion. This lesson covers the basic ideas concerning how structures respond to earthquakes. The lesson introduces students to the basic architecture and engineering lessons that can be learned by observing actual structures that have survived earthquakes, and actual structures that have been built in the aftermath of earthquakes. Students explore structural hazards and mitigation techniques by building model structures and testing them on a shake table. Students also build a model wall to learn how structural elements such as diagonal braces and shear walls strengthen a structure.</p>
		<p><a href="assets/pdf/en/lesson_9.pdf">View Lesson</a> (
			<a href="assets/pdf/farsi/lesson_9.pdf">Farsi</a>,
			<a href="assets/pdf/russian/lesson_9.pdf">Russian</a>,
			<a href="assets/pdf/tajik/lesson_9.pdf">Tajik</a>)</p>
	</div>
	<div class="right">
		<div class="ytplayer" data-video-id="N2dySLJa6zM">
			<div class="ytplayer-wrapper">
				<div class="ytplayer-video"></div>
			</div>
		</div>
		<div class="ytplayer" data-video-id="IB12bs38Xis">
			<div class="ytplayer-wrapper">
				<div class="ytplayer-video"></div>
			</div>
		</div>
	</div>
</section>
