<section>
	<h2>Making a single-signature book </h2>
	<p>This activity is designed to help students reinforce the concepts that make earthquake science, hazard awareness, and hazard prevention three aspects of a unified whole: earthquake safety. In this activity, students use information from previous lessons to write stories about individuals or communities affected by an earthquake, and illustrate and publish their stories in a single-signature book.</p>
	<p><a href="assets/pdf/en/lesson_12.pdf">View Lesson</a> (
		<a href="assets/pdf/farsi/lesson_12.pdf">Farsi</a>,
		<a href="assets/pdf/russian/lesson_12.pdf">Russian</a>,
		<a href="assets/pdf/tajik/lesson_12.pdf">Tajik</a>)</p>
</section>
