<section>
	<h2>Earthquake Drills, Plans, and Supplies</h2>
	<p>Planning, reviewing, training and testing are critical components of an effective emergency response plan that can quickly return a stricken community to a normal state of affairs. In this lesson, students learn to recognize the importance of advance planning for their school's emergency response and to prepare an emergency response plan for their school. In addition, students are given the opportunity to test, evaluate, improve, and present their emergency plan to appropriate authorities.</p>
	<p><a href="assets/pdf/en/lesson_11.pdf">View Lesson</a> (
		<a href="assets/pdf/farsi/lesson_11.pdf">Farsi</a>,
		<a href="assets/pdf/russian/lesson_11.pdf">Russian</a>,
		<a href="assets/pdf/tajik/lesson_11.pdf">Tajik</a>)</p>
</section>
