<section class="clearfix">
	<div class="left">
		<h2>Non-structural Hazards</h2>
		<p>Many non-structural components in buildings such as furnishing and equipment, electrical and mechanical fixtures, architectural features (such as suspended ceilings), storage cabinets, shelves and glass may pose hazards when they slide, tip over, fall or collapse during an earthquake. In this lesson, students learn to identify potential earthquake hazards associated with non-structural components of their school and residential buildings, and to provide recommendations for mitigating them.</p>
		<p><a href="assets/pdf/en/lesson_10.pdf">View Lesson</a> (
			<a href="assets/pdf/farsi/lesson_10.pdf">Farsi</a>,
			<a href="assets/pdf/russian/lesson_10.pdf">Russian</a>,
			<a href="assets/pdf/tajik/lesson_10.pdf">Tajik</a>)</p>
	</div>
	<div class="right">
		<div class="ytplayer" data-video-id="LrSXdEAW34k">
			<div class="ytplayer-wrapper">
				<div class="ytplayer-video"></div>
			</div>
		</div>
	</div>
</section>
