<section class="clearfix">
	<div class="left">
		<h2>Seismic Waves</h2>
		<p>The earliest solid scientific advances in seismology concerned earthquake waves. Earthquakes occur when elastic energy is accumulated slowly within the Earth's crust as a result of plate motions, and then is released suddenly at fractures in the crust called faults. The released energy travels in the form of waves called seismic waves. In this lesson, students use Slinky toys to learn about different types of seismic waves, and discuss how scientists use seismic waves to investigate the interior structure of the Earth.</p>
		<p><a href="assets/pdf/en/lesson_6.pdf">View Lesson</a> (
			<a href="assets/pdf/farsi/lesson_6.pdf">Farsi</a>,
			<a href="assets/pdf/russian/lesson_6.pdf">Russian</a>,
			<a href="assets/pdf/tajik/lesson_6.pdf">Tajik</a>)</p>
	</div>
	<div class="right">
		<div class="ytplayer" data-video-id="u1JouEz_Oto">
			<div class="ytplayer-wrapper">
				<div class="ytplayer-video"></div>
			</div>
		</div>
	</div>
</section>
