<section>
	<h2>Landslide Hazards</h2>
	<p>Earthquakes are a major cause of landslides. Landslides occur when masses of rock, earth material, or debris flows move down a slope due to gravity. In this lesson, students create, study, and describe a hands-on landslide demonstration to observe the three phases of landside development (slope failure, transport of materials, and final deposition of the slide materials), and to explore the differences between the experimental and actual landslides. As part of this lesson, students discuss steps they can take to reduce landslide hazards.</p>
	<p><a href="assets/pdf/en/lesson_8.pdf">View Lesson</a> (
		<a href="assets/pdf/farsi/lesson_8.pdf">Farsi</a>,
		<a href="assets/pdf/russian/lesson_8.pdf">Russian</a>,
		<a href="assets/pdf/tajik/lesson_8.pdf">Tajik</a>)</p>
</section>
