<section class="clearfix">
	<div class="left">
		<h2>Earth's Interior and Plate Tectonics</h2>
		<p>To understand why, where, and how earthquakes happen, students need to be familiarized with the interior of the Earth and the theory of plate tectonics. In this lesson, students compare the interior of a hard-boiled egg to that of the Earth, and explore limitations associated with this analogy.</p>
		<p><a href="assets/pdf/en/lesson_1.pdf">View Lesson</a> (
		<a href="assets/pdf/farsi/lesson_1.pdf">Farsi</a>,
		<a href="assets/pdf/russian/lesson_1.pdf">Russian</a>,
		<a href="assets/pdf/tajik/lesson_1.pdf">Tajik</a>)</p>
	</div>
	<div class="right">
		<div class="ytplayer" data-video-id="99op42bqA3o">
			<div class="ytplayer-wrapper">
				<div class="ytplayer-video"></div>
			</div>
		</div>
	</div>
</section>
