<section class="clearfix">
	<div class="left">
		<h2>Liquefaction</h2>
		<p>Liquefaction is a phenomenon in which the strength and stiffness of a soil is reduced by earthquake shaking or other rapid loading. In this lesson, students explore the effects of liquefaction when a damaging earthquake strikes by building a simple model. As part of this lesson, students discuss different ways to reduce liquefaction hazards.</p>
		<p><a href="assets/pdf/en/lesson_7.pdf">View Lesson</a> (
			<a href="assets/pdf/farsi/lesson_7.pdf">Farsi</a>,
			<a href="assets/pdf/russian/lesson_7.pdf">Russian</a>,
			<a href="assets/pdf/tajik/lesson_7.pdf">Tajik</a>)</p>
	</div>
	<div class="right">
		<div class="ytplayer" data-video-id="vfhM5yTnphE">
			<div class="ytplayer-wrapper">
				<div class="ytplayer-video"></div>
			</div>
		</div>
	</div>
</section>
