<section class="clearfix">
	<div class="left">
		<h2>Plate Motions and Faults</h2>
		<p>At low pressure and temperature rock is a brittle material that will fail by fracture if the stress becomes sufficiently large. When a lateral displacement takes place on a fracture, the break is referred to as a fault. Earthquakes are associated with displacements on faults. In this lesson, students learn about the different kinds of faults produced by different kinds of plate motions and their relation to earthquakes.</p>
		<p><a href="assets/pdf/en/lesson_4.pdf">View Lesson</a> (
			<a href="assets/pdf/farsi/lesson_4.pdf">Farsi</a>,
			<a href="assets/pdf/russian/lesson_4.pdf">Russian</a>,
			<a href="assets/pdf/tajik/lesson_4.pdf">Tajik</a>)</p>
	</div>
	<div class="right">
		<div class="ytplayer" data-video-id="GOScTDipA6E">
			<div class="ytplayer-wrapper">
				<div class="ytplayer-video"></div>
			</div>
		</div>
	</div>
</section>
